* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
}

a {
  color: #000;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.df {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header {
  position: fixed;
  box-shadow: 0 0 10px;
  width: 100%;
  padding: 15px 0;
  background-color: #fff;
  display: grid;
  grid-template-columns: 80% auto;
  align-items: center;
}
.header_lists_link {
  border-radius: 10px;
  color: #000;
  padding: 10px 15px;
  transition: color 1s ease-in-out, box-shadow 1s ease-in-out;
}
.header_lists_link:hover {
  color: rgb(225, 255, 160);
  box-shadow: inset 200px 0 0 0 rgb(22, 64, 56);
}
.header_btns {
  display: flex;
  gap: 20px;
}
.header_btns_login {
  font-size: 18px;
  border: none;
  background-color: transparent;
  padding: 0 20px;
}
.header_btns_login:hover {
  transform: translate(-2rem);
  transition: all 1s;
  background-color: rgb(22, 64, 56);
  color: rgb(225, 255, 160);
  border-radius: 100px;
}
.header_btns_demo {
  font-size: 18px;
  border-radius: 100px;
  border: none;
  color: rgb(225, 255, 160);
  background-color: rgb(22, 64, 56);
  padding: 11px 20px;
}
.header_btns_demo:hover {
  transform: scale(1.2);
  transition: all 0.5s;
}

.hero {
  width: 100%;
  height: 100vh;
  background-image: url("../Images/hero_img.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-position: top;
}
.hero_title {
  height: 90vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}
.hero_title_item {
  width: 70%;
  font-size: 70px;
}
.hero_btns {
  display: flex;
  gap: 30px;
}
.hero_btns_started {
  font-size: 18px;
  border: none;
  background-color: rgb(225, 255, 160);
  padding: 13px 25px;
  border-radius: 100px;
}
.hero_btns_started:hover {
  transform: scale(1.2);
  transition: all 1s;
}
.hero_btns_demo {
  font-size: 18px;
  border: none;
  background-color: transparent;
  color: #fff;
  border-radius: 100px;
}
.hero_btns_demo:hover {
  padding: 13px 25px;
  transition: all 1s;
  transform: translate(1rem);
  background-color: rgb(225, 255, 160);
  color: #000;
}

.introduction {
  width: 100%;
  background-color: rgb(12, 37, 32);
}
.introduction_title {
  color: #fff;
  display: grid;
  grid-template-columns: 50% auto;
  padding-top: 130px;
}
.introduction_title_item {
  line-height: 50px;
}
.introduction_title_item_info {
  font-size: 55px;
  width: 80%;
}
.introduction_title_desc {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.introduction_title_desc_title {
  color: rgb(225, 255, 160);
  padding: 15px 0;
}
.introduction_cards {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 80px;
}
.introduction_cards_card {
  width: 380px;
  height: 440px;
  margin-bottom: 50px;
  background-color: rgb(22, 64, 56);
}
.introduction_cards_card:hover {
  background-color: rgb(115, 132, 77);
  transition: all 1s;
}
.introduction_cards_card_img {
  padding: 40px;
}
.introduction_cards_info {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 80px 20px 0;
}
.introduction_cards_info_item {
  font-size: 30px;
  display: flex;
  gap: 15px;
}
.introduction_cards_info_link {
  color: rgb(225, 255, 160);
}

.platform_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  line-height: 30px;
  font-size: large;
}
.platform_img_item {
  width: 100%;
}
.platform_cards {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.platform_cards_card {
  width: 250px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.platform_cards_link {
  border-radius: 10px;
  color: #000;
  padding: 10px 15px;
  transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
.platform_cards_link:hover {
  color: rgb(225, 255, 160);
  box-shadow: inset 300px 0 0 0 rgb(22, 64, 56);
}

.check {
  width: 100%;
  background-color: rgb(22, 64, 56);
  display: grid;
  grid-template-columns: auto auto;
  padding: 50px 0;
}
.check_left {
  color: #fff;
  padding: 0 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: large;
}
.check_left_item {
  font-size: 50px;
}
.check_btn {
  width: 30%;
  padding: 13px 25px;
  border-radius: 100px;
  border: none;
  cursor: pointer;
  background-color: rgb(225, 255, 160);
}
.check_btn:hover {
  transform: scale(1.2);
  transition: all 0.3s;
  border: 2px solid;
  background-color: rgb(22, 64, 56);
  color: #fff;
}
.check_cards {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  margin-top: 20px;
}
.check_cards_card {
  padding: 80px 30px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid;
}
.check_cards_link {
  padding-bottom: 10px;
}
.check_cards_link:hover {
  width: 15%;
  border-bottom: 1px solid;
  transition: all 0.5s;
}

.teams {
  margin-top: 80px;
}
.teams_title {
  display: grid;
  grid-template-columns: 40% auto;
  justify-content: space-between;
  align-items: center;
}
.teams_left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.teams_item {
  display: grid;
  grid-template-columns: auto auto;
}
.teams_item_right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.teams_item_cards {
  display: grid;
  grid-template-columns: 50% auto;
  gap: 20px;
}
.teams_item_cards_card {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  padding: 0 40px 20px 10px;
  border-bottom: 1px solid;
}

.customers_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: large;
  margin-top: 80px;
  line-height: 40px;
}
.customers_cards {
  display: grid;
  grid-template-columns: auto auto auto;
  margin-top: 50px;
}
.customers_cards_card {
  width: 378px;
  color: #fff;
  padding: 230px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: rgb(12, 37, 32);
}
.customers_cards_over {
  margin-top: 30px;
  width: 810px;
  background-color: rgb(22, 64, 56);
  display: flex;
}
.customers_cards_over_left {
  width: 70%;
  padding: 50px 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
}
.customers_cards_over_left_item {
  color: #fff;
  font-size: 40px;
  color: rgb(225, 255, 160);
}
.customers_cards_over_right {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 40px 20px 20px;
  text-align: center;
  color: #fff;
}
.customers_cards_over_right_item {
  font-size: 35px;
  display: flex;
  align-items: end;
}
.customers_cards_over_card {
  width: 380px;
  height: 230px;
  background-color: rgb(12, 37, 32);
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}
.customers_cards_over_card_info {
  display: flex;
  gap: 60px;
}
.customers_cards_link {
  color: rgb(50, 115, 95);
}
.customers_cards_head {
  display: flex;
  align-items: center;
  gap: 50px;
}

footer {
  margin-top: 100px;
  background-color: rgb(22, 64, 56);
}

.footer_item {
  color: #fff;
  text-align: center;
}
.footer_item_title {
  width: 50%;
  text-align: center;
  font-size: 60px;
  padding: 80px 0 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}
.footer_item_btn {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 20px;
  margin-top: 30px;
}

.footer_lists {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-top: 60px;
  color: #fff;
}
.footer_lists_item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer_lists_item-title {
  font-size: 22px;
}
.footer_lists_item_link {
  color: #fff;
  font-size: 14px;
}