.teams{
    margin-top: 80px;
    &_title{
        display: grid;
        grid-template-columns: 40% auto;
        justify-content: space-between;
        align-items: center;
    }
    &_left{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &_item{
        display: grid;
        grid-template-columns: auto auto;
        &_right{
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
        &_cards{
            display: grid;
            grid-template-columns: 50% auto;
            gap: 20px;
            &_card{
                margin-top: 20px;
                display: flex;
                justify-content: space-between;
                padding: 0 40px 20px 10px;
                border-bottom: 1px solid;
            }
        }
    }
}

.customers{
    &_title{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: large;
        margin-top: 80px;
        line-height: 40px;
    }
    &_cards{
        display: grid;
        grid-template-columns: auto auto auto;
        margin-top: 50px;
        &_card{
            width: 378px;
            color: #fff;
            padding: 230px 20px 20px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            background-color: rgba(12, 37, 32, 1);
        }
        &_over{
            margin-top: 30px;
            width: 810px;
            background-color: rgba(22, 64, 56, 1);
            display: flex;
            &_left{
                width: 70%;
                padding: 50px 30px 20px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                color: #fff;
            }
            &_left_item{
                color: #fff;
                font-size: 40px;
                color: rgba(225, 255, 160, 1);
            }
            &_right{
                display: flex;
                flex-direction: column;
                gap: 15px;
                padding: 40px 20px 20px;
                text-align: center;
                color: #fff;
                &_item{
                    font-size: 35px;
                    display: flex;
                    align-items: end;
                }
            }
            &_card{
                width: 380px;
                height: 230px;
                background-color: rgba(12, 37, 32, 1);
                color: #fff;
                padding: 20px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                margin-top: 30px;
                &_info{
                    display: flex;
                    gap: 60px;
                }
            }
        }
        &_link{
            color: rgba(50, 115, 95, 1);
        }
        &_head{
            display: flex;
            align-items: center;
            gap: 50px;
        }
    }
}